.current-father{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;

}
.section-img-cfather{
    width: 40%;
    background:#0b5550;
}
.section-img-cfather .figure-father{
    width: 100%;
    height: 100%;
    position: relative;
}
.section-img-cfather .cfather-img{
    width:60%;
    height: 450px;
    position: absolute;
    top: 11%;
    left: 55%;
    border-radius: 10px;

}

.section-content-cfather{
    width: 60%;
    text-transform: capitalize;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-content-cfather .heading-father{
    display:flex;
    flex-direction: column;
    width: 60%;
    gap: 15px;
    & h1{
        font-size: 50px;
        text-transform: capitalize;
        

    }
    & .content-para1-father{
        font-size: 18px;
        
    }
    & .content-para2-father{
        font-size: 15px;
        font-style: italic;
    }
    & button{
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background:#0b5550;
        color: white
        ;
        text-transform: capitalize;
        box-shadow: 3px 3px 3px black;
    }
}